# dot files
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template


*.html
*.png
*.css

# free modbus files
/freemodbus/demo/*
!/freemodbus/demo/STM32_CMAKE
